{% extends 'base.html' %}
{% block content %}

    <main role="main" class="container">

        <div class="row">
            <div>
                <b>Gomoku</b>, also known as <i>Gobang</i> or <i>Five in a row</i> is a strategy board game.
                It is traditionally played with Go pieces (black and white stones) on a Go board,
                using 15×15 of the 19×19 grid intersections. Because pieces are not moved or removed from the board,
                Gomoku may also be played as a paper and pencil game.
                The game is known in several countries under different names.
                Players alternate turns placing a stone of their color on an empty intersection.
                The winner is the first player to form an unbroken chain of five stones horizontally,
                vertically, or diagonally.
            </div>
            <div style="margin-top: 50px">
                <ul>For more information you can visit these websites :
                    <li><a href="https://www.playok.com/en/gomoku/">playok.com</a> - Very popular website where you can play</li>
                    <li><a href="http://www.renju.net">renju.net</a> - Renju International Federation</li>
                    <li><a href="http://www.gomokuworld.com">gomokuworld.com</a> - Actual results and statistics from tournaments</li>
                    <li><a href="http://www.forum.gomoku.pl">forum.gomoku.pl</a> - Polish Gomoku Forum</li>
                    <li><a href="http://www.gomoku.pl/">gomoku.pl</a> - Polskie Stowarzyszenie Gomoku, Renju i Pente</li>
                </ul>
            </div>
        </div>

    </main>

{% endblock %}




