{% extends 'base.html' %}

{% block content %}
    <main role="main" class="container">
        <div class="list-group-item-danger" style="background-color: azure">
            <ul class="list-group-item">
                <div class="dropdown-header">Lista zapisanych gier</div>
                {% for item in games %}
                    <li>
                        <a href="/game-record/{{ item.id }}/">{{ item.player_1 }}-{{ item.player_2 }}  {{ item.game_date }} </a>
                        <a href="/delete-game/{{ item.id }}" style="text-align: right"> (delete) </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
{% endblock %}