{%  extends 'gomoku_project/../base.html' %}

{% block content %}

<div class="test"> test </div>
{% csrf_token %}
<div class="ajax" name="X">   wyajaxuj mnie </div>

{% endblock %}

{% block javascript %}

    {% csrf_token %}
        <script type="text/javascript">
        // using jQuery
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        console.log('jestem w skrypcie');

        $('.ajax').on('click', function (event) {
            event.preventDefault();
            var dataList = {
                one: $('.test').val(),
                two: 2,
                three: $('.ajax').attr('name')
            };

        console.log('SPRAWDZAM AJAXA');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
                }
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                 }
            }
        });

        $.ajax({
            type : "POST",
            url : "http://127.0.0.1:8000/create/",
            csrfmiddlewaretoken: csrftoken,
            data : JSON.stringify({game_record:'abcd'}),
            headers: {
              {#'Accept': 'application/json',#}
              'Content-Type': 'application/json'
              },
            success: function(){
                alert("Saved! It worked.");
              },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
              console.log('ERROR' + String(XMLHttpRequest), String(textStatus), String(errorThrown));
              }
            });
        });


    </script>

{% endblock %}