.col-master {
    display: inline-grid;
    border: black;
    border-width: thin;
    background: azure;
    text-align: center;
    font-style: oblique;
    height: 45px;
        }

.col-slave {
    display: -moz-grid-group;
    height: 45px;
    width: 45px;
    border-size: 0px;
    border-style: solid;
    border-color: black;
    background: chocolate;
    font-size: 30px;
    text-align: center;
}

.board-container {
    width: 730px;
    height: 730px;
    padding: 0px;
    float: left;
    border-right: 2px;
}

.button-container {
    display: inline;
    margin-right: 200px;
    vertical-align: bottom;
}

.game-record {
    display: inline-grid;

}

.game-record-slave {
    text-align: right;
}

main {
    padding-top: 75px;
}

.row2 {
    display: inline;
}

body {
    background-color: azure;
}

.board-coord {
    position: sticky;
    display: inline-grid;
    height: 45px;
    width: 30px;
    color: black;
}

.board-coord-slave {
    position: absolute;
    bottom: 20%;
}

#coord-16 {
    color: azure;
}

.players {
    text-align: left;
    float: left;
    border-left: 2px;
}

img {
    height: 30px;
    width: 30px;
    vertical-align: center;
    margin-bottom: 9px;
}



